*.DS_Store
*.aux
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.eventlog
*.hi
*.hie
*.hp
*.o
*.prof
*.prof.html
.HTF/
.hpc
.hsenv
/.cabal-sandbox/
/.ghc.environment.*
/.shake/
/.stack-work/
/cabal-dev
/dist
/dist-*
cabal.project.local
cabal.project.local~
cabal.sandbox.config
stack.yaml.lock
